<div>
  <form [formGroup]="ParkingForm" (ngSubmit)="GetParkingDetails()">
    Lot Address :
    <input type="text" formControlName="lot" required>
    <span *ngIf="submit && ParkingForm.controls['lot'].hasError('required')" style="color:red"> LotAddress is Required
    </span>
    <span *ngIf="submit && ParkingForm.invalid" style="color:red"> Only Number is Allowed
    </span>
    Vehicle Number :
    <input type="text" formControlName="vehicle_number" required>
    <span *ngIf="submit && ParkingForm.controls['vehicle_number'].hasError('required')" style="color:red"> Vehicle Number is Required
    </span>
    <span *ngIf="submit && ParkingForm.invalid" style="color:red"> Only Number is Allowed
    </span>
    Parking Duration :
    <input type="text" formControlName="duration" required>
    <span *ngIf="submit && ParkingForm.controls['duration'].hasError('required')" style="color:red"> Duration is Required
    </span>
    <span *ngIf="submit && ParkingForm.invalid" style="color:red"> Only Number is Allowed
    </span>
    Amount :
    <input type="text" formControlName="amount" value={{ParkingForm.value.amount}} required>
    <button>Park Now</button>



  </form>
</div>
<hr>
<br>
<h3 *ngIf="SameLot" style="color:red; background-color:rgb(245, 163, 153)">Vehicle Already Parked</h3>
<div *ngIf="check">
  <h4>Parked vehicle Report</h4>
  <table border="1">
    <tr>
      <th>ID</th>
      <th>Lot</th>
      <th>Vehicle Number</th>
      <th>Duration</th>
      <th>Amount</th>
    </tr>
    <tr *ngFor="let parking of ParkingDetails; index as i">
      <td>{{parking.id}}</td>
      <td>{{parking.lot}}</td>
      <td>{{parking.vehicle_number}}</td>
      <td>{{parking.parking_duration}}</td>
      <td>{{parking.parking_amount}}</td>
    </tr>

  </table>

</div>